header{
    background-image: url(../images/header/fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    font-family: "Poppins", sans-serif;    


    .container{
        position: relative;

        .image-perfil{
            width: 110px;
            height: 100px;
            margin-top: 30px;
        }
        
        .nome{
            margin-top: 19px;
            line-height: 100%;
            letter-spacing: 1px;
            color: #fff;
            font-weight: bolder;
            font-size: 38px;
            font-style: italic;
        }
        
        .ocupacao{
            line-height: 150%;
            letter-spacing: 1px;
            color: #fff;
            font-size: 24px;
        }
    }

    &::before{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
        content: '';
        opacity: .8;
        max-width: 100%;

    }
}

@media (max-width: 768px){

    .align{
        text-align: center;
    }
}


