.sobre{
    margin-top: 50px;
    font-family: "Poppins", sans-serif; 

    .container{
        text-align: left;

        .titulo-primary{
            font-weight: bold;
            font-size: 28px;
            line-height: 150%;
            letter-spacing: 1px;
            color: #000;
            margin-bottom: 30px;
        }

        .text{
        font-size: 16px;
        font-weight: bold;
        line-height: 150%;
        color: #000;
        }
    }

    .container::after {
        content: "";
        display: inline-block;
        width: 100%;
    }
}

@media(max-width: 768px) {
    .titulo-primary{
    text-align: center;
    }
}