.sobre{
    margin-top: 96px;

    .container{
        text-align: left;

        .titulo-primary{
            font-weight: bold;
            font-size: 38px;
            line-height: 150%;
            letter-spacing: 1px;
            color: #000000;
            margin-bottom: 30px;
        }

        .text{
        font-size: 16px;
        line-height: 150%;
        color: #000000;
        text-align: justify;
        }
    }

    .container::after {
        content: "";
        display: inline-block;
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .titulo-primary{
    text-align: center;
    }

    .container{

        .text{
            hyphens: auto;
        }
    }

}