
@use 'header';
@use 'sobre';
@use 'projetos';
@use 'footer';

@font-face {
    font-family: Avenir;
    src: url(../assets/fonts/Avenir-Regular.woff2);
    font-weight: 400
}

@font-face {
    font-family: Avenir;
    src: url(../assets/fonts/Avenir-Bold.woff2);
    font-weight: 700
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

.body {
    background-image: linear-gradient(to right, #0077FF,  #00CC99);
    font-family: Avenir,sans-serif
    
}


